*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: rgba(12, 25, 26, 0.425);
    /* color: whitesmoke; */
    position: relative;
}
h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 25px;
}
canvas{
    border: 1px solid rgb(0, 0, 0);
    margin-left: 10px;
}
.choose{
    height: auto;
    width: 100%;
    display: flex;
}
.choose-clr{
    border: 1px solid rgba(0, 0, 0, 0);
    width: 180px;
    margin: 10px ;
    padding: 8px;
}
.choose-clr input{
    height: 30px;
    width: 80px;
    border: 1px solid transparent;
    background-color: rgba(53, 50, 50, 0.185);
    border-radius: 5px;
    outline: none;
    cursor:pointer;
    margin-top: 10px;
}
.choose-clr input:hover{
    border: 1px solid black;
}
label{
    font-weight: 400;
    font-size: 1.1rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
button{
    height: 40px;
    width: 100px;
    padding: 4px 8px;
    /* position: relative; */
    margin: 30px 5px -10px;
    color: white;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: rgb(15, 82, 128);
    font-weight: 400;
    font-size: 1.1rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
}
button:hover{
    border: 1px solid black;
    scale: 1.01;
}
select{
    height: 20px;
    width: 50px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.329);
    margin-top: 14px;
    outline: none;
    font-size: 1.02rem;
    font-weight: 700;
}